//color schemes
//2
$styleNumber: '2';
$colorMain: #82b440;
$colorMain2: #56d7fe;
$colorMain3: #fc834b;
$colorMain4: #78bf4d;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;