//color schemes
//3
$styleNumber: '3';
$colorMain: #56d7fe;
$colorMain2: #fc834b;
$colorMain3: #78bf4d;
$colorMain4: #82b440;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;