#slide {
  margin-top: 200px;
}

.row {
  padding: 20px;
}

.toggle_menu.mobile-active {
  background-color: #78bf4d;
}

.ds.text-pos {
  text-align: left;
}

.diet-slider .carousel-indicators {
  position: none;
}

.diet-slider h6 {
  margin: 30px 0;
}

.svg-material {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 20px;
}

.diet-step-2 .btn {
  background-color: #20252b;
  color: #fff;
  display: block;
  max-width: 545px;
  margin: 30px auto 30px;
}

.diet-step-2 .btn:hover {
  border-color: #fff;
  background-color: #78bf4d;
}

.diet-step-3 .row,
.diet-step-4 .row,
.diet-step-5 .row {
  max-width: 545px;
  margin-left: auto;
  margin-right: auto;
}

.diet-step-3 .col-sm-4 .svg-material,
.diet-step-4 .col-sm-4 .svg-material,
.diet-step-5 .col-sm-4 .svg-material {
  padding: 10px 20px;
  margin: 3px;
}

.diet-step-3 .col-sm-4 .svg-material.checked,
.diet-step-4 .col-sm-4 .svg-material.checked,
.diet-step-5 .col-sm-4 .svg-material.checked {
  border-color: #78bf4d;
  background-color: #78bf4d;
}

.diet-step-3 .col-sm-4 .svg-material img,
.diet-step-4 .col-sm-4 .svg-material img,
.diet-step-5 .col-sm-4 .svg-material img {
  height: 120px;
  width: 120px;
}

.diet-step-3 .col-6 .svg-material,
.diet-step-4 .col-6 .svg-material,
.diet-step-5 .col-6 .svg-material {
  padding: 10px 10px;
  margin: 3px;
}

.diet-step-3 .col-6 .svg-material img,
.diet-step-4 .col-6 .svg-material img,
.diet-step-5 .col-6 .svg-material img {
  height: 80px;
  width: 120px;
}

.diet-step-6 .btn {
  background-color: #20252b;
  color: #fff;
  display: block;
  max-width: 545px;
  margin: 30px auto 30px;
}

.diet-step-6 .btn:hover {
  border-color: #78bf4d;
}

.diet-step-6 .btn.checked {
  border-color: #78bf4d;
  background-color: #78bf4d;
}

.diet-step-6 .btn:active {
  border-color: #78bf4d;
  background-color: #78bf4d;
}

.diet-step-7,
.diet-step-9,
.diet-step-10 {
  text-align: center;
}

.diet-step-7 input,
.diet-step-9 input,
.diet-step-10 input {
  max-width: 500px;
  display: inline-block;
  text-align: center;
  text-transform: lowercase;
  border-bottom-color: #fff;
  border-color: #20252b;
  font-size: 25px;
  height: 60px;
  padding: 0px;
  background-color: #20252b;
}

.diet-step-7 ::-webkit-input-placeholder, .diet-step-9 ::-webkit-input-placeholder, .diet-step-10 ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.diet-step-7 ::-moz-placeholder, .diet-step-9 ::-moz-placeholder, .diet-step-10 ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.diet-step-7 :-ms-input-placeholder, .diet-step-9 :-ms-input-placeholder, .diet-step-10 :-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.diet-step-7 ::-ms-input-placeholder, .diet-step-9 ::-ms-input-placeholder, .diet-step-10 ::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.diet-step-7 ::placeholder,
.diet-step-9 ::placeholder,
.diet-step-10 ::placeholder {
  color: #fff;
  opacity: 1;
}

.diet-step-7 .ds input,
.diet-step-9 .ds input,
.diet-step-10 .ds input {
  max-width: 500px;
  display: inline-block;
  text-align: center;
  text-transform: lowercase;
  border-bottom-color: #fff;
  border-color: #20252b;
  font-size: 25px;
  height: 60px;
  padding: 0px;
  background-color: #20252b;
}

.diet-step-7 .btn,
.diet-step-9 .btn,
.diet-step-10 .btn {
  background-color: #20252b;
  color: #fff;
  display: block;
  max-width: 545px;
  margin: 30px auto 30px;
}

.diet-step-7 .btn:hover,
.diet-step-9 .btn:hover,
.diet-step-10 .btn:hover {
  border-color: #78bf4d;
}

.diet-step-7 .btn.checked,
.diet-step-9 .btn.checked,
.diet-step-10 .btn.checked {
  border-color: #78bf4d;
  background-color: #78bf4d;
}

.diet-step-7 label,
.diet-step-9 label,
.diet-step-10 label {
  color: #78bf4d;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.diet-step-7 p,
.diet-step-9 p,
.diet-step-10 p {
  color: #78bf4d;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.diet-step-7 #imperial,
.diet-step-7 #metric,
.diet-step-9 #imperial,
.diet-step-9 #metric,
.diet-step-10 #imperial,
.diet-step-10 #metric {
  color: white;
  font-size: 20px;
}

.diet-step-7 #ft,
.diet-step-9 #ft,
.diet-step-10 #ft {
  display: inline-block;
  max-width: 250px;
}

.diet-step-7 #inch,
.diet-step-9 #inch,
.diet-step-10 #inch {
  display: inline-block;
  max-width: 250px;
}

.diet-step-7 .form-row,
.diet-step-9 .form-row,
.diet-step-10 .form-row {
  max-width: 545px;
  margin: 30px auto 30px;
}

.diet-step-7 .container,
.diet-step-9 .container,
.diet-step-10 .container {
  margin-top: 50px;
}

.chart {
  margin-bottom: 80px;
}

.diet-step-8 .btn {
  background-color: #20252b;
  color: #fff;
  display: block;
  max-width: 545px;
  margin: 30px auto 30px;
}

.diet-step-8 .btn:hover {
  border-color: #78bf4d;
}

.diet-step-8 .btn.checked {
  border-color: #78bf4d;
  background-color: #78bf4d;
}

.m-progress-bar {
  margin-bottom: 50px;
}

.progress .progress-bar {
  background-color: #78bf4d;
}

.diet-slider1 {
  border: 0;
  padding: 0;
  background-image: url(/images/Good_Food_Slide_BG_1_Simple_Diet_Plan_High_Resolution_Diet_Plan_Homepage_healthy_food_low_calories_Diet_Photo_Keto_Interval_Diet_Organic_Food_.jpg?d5a4bff47beedaf801f37828dc3b80e1);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.errorMsg {
  display: none;
}

#container {
  margin-bottom: 50px;
}

.shop-single-tab {
  max-width: 800px;
  text-align: center;
  margin-bottom: 0px;
}

.woocommerce-tabs {
  margin: 57px auto;
}

.woocommerce-tabs .panel {
  padding: 0px;
  border: 0px;
}

.diet-slider2-2 {
  border: 0;
  padding: 0;
  background-image: url(/images/cutting-hands-human_Video_Slide_2_Simple_Diet_Plan_Banner_High_Resolution_Diet_Plan.jpg?1d6616591b6eea62e95be3d7ea193b1a);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.diet-slider2-2 .video-text {
  position: unset;
}

.diet-slider2-2 .video-text h5 {
  color: black;
  text-transform: lowercase;
}

.diet-slider2-1 {
  border: 0;
  padding: 0;
  background-image: url(/images/Video_Slide_1_Simple_Diet_Plan_Banner_High_Resolution_Diet_Plan_Diet_Photo_Keto_Interval_Diet_Organic_Food_Good.jpg?cb39aec487af393bf1d8b13b9959df30);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.diet-slider2-1 .video-text {
  position: unset;
}

.diet-slider2-1 .video-text h5 {
  color: white;
  text-transform: lowercase;
}

.diet-slider3-1 img {
  border-radius: 0px;
}

.diet-slider3-2 img {
  border-radius: 0px;
}

.diet-slider3-2 .col-xl-3 {
  padding: 0px;
}

.diet-slider3-2 .col-sm-6 {
  padding: 0px;
}

.diet-slider3-2 .col-6 {
  padding: 0px;
}

section {
  position: unset;
}

.diet-slider4 {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#c3c3c3));
  background-image: linear-gradient(#e6e6e6, #c3c3c3);
}

.diet-slider4 .col-xl-3 {
  padding: 0px;
}

.diet-slider4 .col-sm-6 {
  padding: 0px;
}

.diet-slider5 {
  color: #808080;
}

.diet-slider5 .row {
  padding: 0px;
}

.diet-slider5 div {
  color: #808080;
}

@media screen and (max-width: 800px) {
  #slide {
    margin-top: 40px;
  }
}

@media (max-width: 1199px) {
  .sf-menu {
    border-top-color: #78bf4d;
  }
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #78bf4d;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

