/* 
** Intro Section Styles
*/

.page_slider {
  position: relative;
  overflow: hidden;
  //fix slider bug on small screens
  clear: both;
  & > img {
    width: 100%;
  }

  h2 {
    font-size: 3em;
    margin: 0;
    line-height: 1;
  }
  h3 {
    font-size: 2em;
    margin: 0;
    line-height: 1;
  }
  h4 {
    font-size: 1.5em;
    margin: 0;
  }
  p {
    font-size: 1.2em;
    margin: 0;
  }

  @media(min-width: 992px) {
    h2 {
      font-size: 70px;
    }
    h3 {
      font-size: 3em;
    }
    h4 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.7em;
    }
  }

  .flexslider {
    //making every slide same height (stretch) for nice background on every slide
    .slides {
      display: flex;
    }

    //ie bugfix with page_slider overlap
    &:before,
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .intro_layer img {
      width: auto;
      display: inline-block;
    }

    //uncomment if you need a shadow on your slider
    &.slider-shadow {
      padding-bottom: 50px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        background: transparent;
        z-index: 1;
        bottom: 65px;
        left: 10px;
        width: 50%;
        height: 20%;
        max-width: 400px;
        box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
        transform: rotate(-3deg);
      }
      &:after {
        right: 10px;
        left: auto;
        transform: rotate(3deg);
      }
    }
  }

  .intro_layers_wrapper {
    display: flex;
  }

  .intro_after_featured_word {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    @media(max-width: 767px) {
      font-size: 10px;
      letter-spacing: 0.1em;
    }
  }

  .intro_layers {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    z-index: 10;
    @media (max-width: 767px) {
      padding: 54px 0 96px;
    }
  }

  //dots - horizontal
  .flex-control-nav {
    position: absolute;
    width: 100%;
    bottom: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 991px) {
      display: none;
    }

    li {
      display: block;
      padding-top: 6px;
      padding-bottom: 6px;
      a {
        border-color: $lightColor;
        background: $lightColor;
        opacity: 0.5;
        &.flex-active {
          opacity: 1;
        }
      }
    }
  }

  //lg and bigger layout
  @media(min-width: 767px) {

    .cs,
    .ds {
      background-color: #20252b;
    }

    //description alignment
    //for intro with testimonials,
    //for static intro
    //.flexslider prefix removed
    .container-fluid,
    .container,
    img + .container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

    }

    [class*="col-"] {
      position: static;
      min-height: 0;
      margin-top: 0;
      margin-bottom: 0;

    }

    // center alignment for slide description
    .intro_layers_wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 15px;
      height: 107%;
      z-index: 5;

      @media (min-width: 600px) {
        .boxed & {
          padding-left: 60px;
          padding-right: 60px;
        }
      }
    }

    .intro_text_top .intro_layers {
      justify-content: flex-start;
    }
    .intro_text_bottom .intro_layers {
      justify-content: flex-end;
    }

    .intro_before_featured_word {
      line-height: 0.8;
      font-size: 20px;
      margin: 0;
      padding: 0 0.2em;
      text-align: left;

      text-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    }
    .intro_featured_word {
      line-height: 0.9;
      white-space: nowrap;
      font-size: 50px;
      margin: 0;
      text-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
    }

    .intro_after_featured_word {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    }
  }

  @media (max-width: 767px) {
    .intro_featured_word {
      font-size: 25px;
      margin-top: 5px;
    }
  }
  @media (min-width: 992px) {

    .flex-direction-nav {
      display: block;
    }

    .intro_layers_wrapper {
      padding: 100px 0;
    }

    .intro_before_featured_word {
      font-size: 42px;
    }
    .intro_featured_word {
      font-size: 48px;
    }

    .intro_after_featured_word {
      font-size: 17px;
      letter-spacing: 0;
    }
  }

  @media (min-width: 1600px) {
    .intro_before_featured_word {
      font-size: 62px;
    }
    .intro_featured_word {
      font-size: 70px;
      margin-top: 17px;
      white-space: nowrap;
    }
  }

  //md and smaller - static container on small device
  @media (max-width: 991px) {
    & {
      text-align: center;
    }
  }
}

.flexslider-overlay {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(32, 37, 43, 0.4);
  z-index: 1;
}

.flex-countdown {
  margin-top: 23px;
  margin-bottom: 23px;
  @media(max-width: 767px) {
    margin: 20px 0;
  }
}

.slide03 {
  img {
    opacity: 0.8;
  }
}

.slide02 {
  img {
    opacity: 0.7;
  }
}


.blog_slider .page_slider {
  border-radius: 10px;
  .flexslider-overlay { 
   background-color: rgba(32, 37, 43, 0.6);
  }
 
  h2 {
    line-height: 60px;
  }
  .intro_layers_wrapper {
    height: 97%;
    padding: 80px;
  }
}

@media (min-width: 768px) and  (max-width: 991px) {
.page_slider .intro_layers_wrapper {
    height: 87%;
  }
}